{% extends 'layouts/base.html' %}

{% block content %}
    <div class="col-sm-4">
        <form action="#" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <div class="form-group">
                <label for="id_email" class="">Email:</label>
                <input id="id_email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
{% endblock %}