<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Pur Beurre &#8212; {% block title %}{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>
    <!-- Google fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Scope+One"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    {% block styles %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
        <!-- Bootstrap Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    {% endblock %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% block header %}
    <!-- Navigation -->
    {% include 'layouts/navbar.html' %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {% include 'layouts/footer.html' %}
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>