.field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    border-style: solid;
    background-clip: padding-box;
    width: 100%;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-color: rgba(0, 0, 0, 0.125);
    padding: 0;
}

.field--error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.field__input {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 21px;
    letter-spacing: .08rem;
}

.field__form-input {
    background: transparent;
    line-height: 1.5em;
    width: 100%;
    outline: none;
    border: transparent;
    min-height: 6rem;
    padding: 24px 16px 11px;
    display: block;
    font-size: calc((1rem + 2.45098vw) * 16 / 18);
    font-weight: 700;
}

.field__placeholder {
    --fs: 12px;

    opacity: 0;
    transform: scale(.75);
    width: 100%;
    pointer-events: none;
    position: absolute;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    transform-origin: top left;
    left: 20px;
    top: calc(50% - var(--fs) / 2);
    text-transform: uppercase;
    font-size: var(--fs);
    font-weight: 800;
    letter-spacing: .08em;
}

.field__label {
    position: absolute;
    top: 1.16625rem;
    left: 1rem;
    transition-property: transform, opacity;
    font-size: 12px;
    opacity: 1;
    transform: scale(1);
    pointer-events: none;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
}


.field__form-input:placeholder-shown ~ .field__placeholder {
    opacity: 1;
}

.field__form-input:placeholder-shown ~ .field__label {
    opacity: 0;
}

.field__form-input:focus ~ .field__placeholder {
    opacity: 0;
}

.field__form-input:focus ~ .field__label {
    opacity: 1;
}

.password-help {
    margin-bottom: 1rem;
}

.unchecked, .checked {
    border: 2px solid;
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

.unchecked {
    border-color: #4f5050;
}
.checked {
    border-color: #198754;
}

.unchecked:before, .unchecked:after {
    position: absolute;
    left: 9px;
    top: 2px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.checked:after {
    position: absolute;
    left: 7px;
    top: 1px;
    content: ' ';
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    border-bottom: 2px solid #198754;
    border-right: 2px solid #198754;
}

.unchecked:before {
    transform: rotate(45deg);
}

.unchecked:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 576px) {
    .field__form-input {
        min-height: 5rem;
        font-size: 16px;
    }

    .field__label {
        top: 0.45rem;
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {
    .field__label {
        left: 16px;
        top: 0.45rem;
        font-size: 14px;
    }

    .field__placeholder {
        --fs: 18px;
    }
}

@media screen and (min-width: 960px) {
    .field__label {
        left: 11px;
        top: 0.25rem;
        font-size: 12px;
    }

    .field__form-input {
        min-height: 2rem;
        padding: 24px 11px 11px;
        font-size: 21px;
    }
}