{% extends 'layouts/base.html' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
    <div class="container offset-header">
        <h1>Pur Beurre &ndash; Mentions légales</h1>
        <p class="text-muted">
            Merci d'utiliser Pur Beurre ! Nous sommes heureux que vous soyez là. Veuillez lire attentivement cet
            accord sur les conditions de service avant d'accéder à Pur Beurre ou de l'utiliser.
            Comme il s'agit d'un contrat très important entre nous et nos utilisateurs, nous avons essayé de le rendre
            aussi clair que possible. Pour votre commodité, nous avons présenté ces conditions sous la forme d'un
            court résumé non contraignant, suivi des conditions légales complètes.
        </p>
        <h5>Hébergeur du site internet</h5>
        <p class="text-muted">
            Le site est hébergé par <strong>Heroku</strong> dont le siège social est situé au
            &laquo; Inc. 650 7th Street San Francisco, CA 94103, USA &raquo;. Leur site web est disponible à l'adresse
            suivante : <a href="https://www.heroku.com">https://www.heroku.com</a>
        </p>

        <h2>Crédits</h2>
        <p class="text-muted">
            Ce site utilise un thème bootstrap nommé &laquo; Creative &raquo; du site Start Bootstrap
            pour la mise en forme de plusieurs pages.
            Ce thème est disponible <a href="https://startbootstrap.com/theme/creative">ici</a>.
        </p>
        <div>
            <h3>Images et icônes</h3>
            <p class="text-muted">
                La photo utilisée en splash screen pour la page d'acceuil est la propriété de
                &laquo; <em><a href="https://unsplash.com/@olenka_kotyk">Olenka Kotyk</a></em> &raquo;.
                La photo utilisée est disponible avec le lien suivant :
                <a href="https://unsplash.com/photos/eqsEZNCm4-c">https://unsplash.com/photos/eqsEZNCm4-c</a>
            </p>

            <p class="text-muted">
                L'icône de la &laquo; <a href="https://thenounproject.com/term/carrot/29691/">carotte</a> &raquo;
                à été créé par <em>Fabien Jouin</em> de &laquo; Noun Project &raquo;.
            </p>

            <p class="text-muted">
                Les autres icônes sont issus de la librarie &laquo; <em>Bootstrap Icons</em> &raquo; qui disponibles
                <a href="https://icons.getbootstrap.com/">ici</a>.
            </p>
        </div>
    </div>
{% endblock %}