{% extends 'layouts/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'review/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container offset-header">
        <div class="row">
            <div class="text-center">
                <h2>« {{ product.name }} »</h2>
            </div>
            <hr>
        </div>
        <section id="product" class="row pb-4 mb-3">
            <div class="col-md-4">
                <img src="{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="nutriscore-label">
                    {% for letter in nutriscore_letters %}
                        <div class="ns-letter ns-{{ letter }} {% if letter == product.nutriscore_grade %}ns-selected{% endif %}">
                            {{ letter|upper }}
                        </div>
                    {% endfor %}
                </div>
                <div class="product-info">
                    <p>Repères nutritionnels / 100g</p>
                    <h4>Marques</h4>
                    <ul>
                        {% for brand in product.brands_list %}
                            <li>{{ brand }}</li>
                        {% endfor %}
                    </ul>
                    <p>{% lorem 1 p %}</p>
                    <div class="buttons-inline">
                        <a href="{{ product.url }}" target="_blank" class="text-decoration-none">
                            <button class="btn btn-outline-secondary">Voir la fiche d'OpenFoodFacts</button>
                        </a>
                        <a href="{% url 'substitute:search' %}?pid={{ product.id }}" class="text-decoration-none">
                            <button class="btn btn-primary">Rechercher un substitut</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% include 'review/index.html' with reviews=reviews user_review=user_review product_id=product.id avg_reviews_rating=avg_reviews_rating total_reviews=total_reviews %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'review/js/confirm-delete.js' %}"></script>

    {% if not user_review %}
        <script src="{% static 'review/js/rating-input.js' %}"></script>
    {% endif %}
{% endblock %}
